table {
    width: 100%;
}

th {
    background-color: #71B0E6;
    font-weight : bold;
    height : 150px;
}

th:nth-child(1) {
    background-color: #a4d1f7;
    font-weight: bold;
}


td:nth-child(1) {
    background-color: #a4d1f7;
    font-weight: bold;
}

td {
    background-color: #bbdefb;
    text-align: center;
    height : 150px;
}